---
layout: default
---
<div class="cd-fold-content single-page">
  <h2>Cuentas públicas y estado de avance</h2>
  <p>
    Nuestro interés está en fomentar la rendición de cuentas y su contraparte, y la fiscalización ciudadana, como otra forma de transparencia. En esta línea hemos desarrollado tecnologías que permiten, por ejemplo, exponer el estado de avance de una serie de medidas, darles seguimiento a las mismas, denunciar el incumplimiento de promesas, hacer públicos los porcentajes de progreso dentro de un proyecto y calificarlos o generar presión ciudadana para (re)impulsar temas de interés.
  </p>
  <div>
    <!-- Nav tabs -->
    <ul class="list-inline proyectos" role="tablist">
      {% capture first_item %}true{% endcapture %}
      {% for t in site.tools %}
        {% if t.tool_category == 'category_01' %}
        <li role="presentation" class="{% if first_item == 'true' %}active{% endif %}"><a href="#project-{{ forloop.index }}" aria-controls="project-{{ forloop.index }}" role="tab" data-toggle="tab">{{t.tool_title}}</a></li>
        {% capture first_item %}false{% endcapture %}
        {% endif %}
      {% endfor %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      {% capture first_item %}true{% endcapture %}
      {% for t in site.tools %}
        {% if t.tool_category == 'category_01' %}
        <div role="tabpanel" class="tab-pane {% if first_item == 'true' %}active{% endif %}" id="project-{{ forloop.index }}">

          <h3 class="text-center">{{ t.tool_title }}</h3>

          <h4 class="bajada">{{ t.tool_description }}</h4>

          <!-- Slider -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ site.baseurl }}/img/pantallazos/agenda-transparencia.png" alt="Agenda Transparencia">
              </div>
              <div class="item">
                <img src="{{ site.baseurl }}/img/pantallazos/civio.png" alt="Agenda Transparencia">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
          <!-- Fin slider -->


          <h3>Con esta herramienta podrás:</h3>
          <p>{{t.tool_respond_to}}</p>

          <ul><strong>Con esta herramienta podrás:</strong>
            {% for spec in t.tool_specs %}
            <li><i class="fa fa-check" aria-hidden="true"></i> {{ spec.key }}</li>
            {% endfor %}
          </ul>

          <ul><strong>Funcionando en:</strong>
            {% for deploy in t.tool_deploys %}
            <li><a href="{{ deploy.url }}" target="_blank" onClick="ga('send','event','click','link-deploy {{ deploy.name }}')"><i class="fa fa-external-link" aria-hidden="true"></i> {{ deploy.name }}</a></li>
            {% endfor %}
          </ul>

        </div>
        {% capture first_item %}false{% endcapture %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>