<h3 class="text-center">Comparador de Posturas</h3>

<h4 class="bajada">¿Necesitas explicar tus argumentos dentro de un debate público?
¿Quieres dejar claras las diferencias con los opositores?</h4>

<!-- Slider -->
<div id="carousel-1-2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-1-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-1-2" data-slide-to="1"></li>
    <li data-target="#carousel-1-2" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ site.baseurl }}/img/pantallazos/hayacuerdo01.png" alt="Agenda Transparencia">
    </div>
    <div class="item">
      <img src="{{ site.baseurl }}/img/pantallazos/hayacuerdo02.png" alt="Agenda Transparencia">
    </div>
    <div class="item">
      <img src="{{ site.baseurl }}/img/pantallazos/hayacuerdo03.png" alt="Agenda Transparencia">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-1-2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-1-2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
<!-- Fin slider -->


<p>Plataforma para contrastar posiciones de dos entidades frente a un tema, indicando el nivel de acuerdo entre los dos.</p>

<ul><strong>Con esta herramienta podrás:</strong>
  <li class="bajada"><i class="fa fa-check " aria-hidden="true"></i> Establecer los principales temas de un conflicto</li>
  <li class="bajada"><i class="fa fa-check " aria-hidden="true"></i> Transparentar la opinión de las distintas partes</li>
  <li class="bajada"><i class="fa fa-check " aria-hidden="true"></i> Mostrar los puntos de encuentro y desencuentro</li>
  <li class="bajada"><i class="fa fa-check " aria-hidden="true"></i> Explicar el detalle de cada opinión</li>
  <li class="bajada"><i class="fa fa-check " aria-hidden="true"></i> Informar a la ciudadanía</li>
</ul>